* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope";
  transition: all ease-in-out 500ms;
}

main {
  min-height: 100vh;
  background-color: var(--background-color);
}

:root {
  --background-color: white;
  --background-color-secondary: #f3f6ff;
  --hero-description-color: #585c7b;
  --text-color: black;
  --accent-bg: #6366f1;
  --switch-bg: #9397ad;
  --hero-bg: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(243, 240, 254, 1) 50%,
    rgba(252, 245, 254, 1) 100%
  );
  --cta-bg: #0b0f19;
  --description-color: #585c7b;
}

[data-theme="dark"] {
  --background-color: #0b0f19;
  --background-color-secondary: #151822;
  --hero-description-color: white;
  --text-color: white;
  --switch-bg: #6366f1;
  --hero-bg: linear-gradient(
    180deg,
    rgba(11, 15, 25, 1) 0%,
    rgba(18, 16, 31, 1) 50%,
    rgba(22, 20, 40, 1) 100%
  );

  --cta-bg: white;
  --description-color: rgba(255, 255, 255, 0.658);

  .switch_inner_circle {
    left: 25px;
  }

  .ham_1,
  .ham_2,
  .ham_3 {
    background-color: white;
  }

  .ios_cta {
    background-image: url("assets/appstore-dark.svg.png");
  }

  .android_cta {
    background-image: url("assets/googleplay-dark.svg\ fill.png");
  }

  .arrow_down_dark {
    display: none;
  }
  .arrow_down_light {
    display: flex;
  }

  .client_container {
    box-shadow: none;
  }

  .faq_card {
    box-shadow: none;
    background-color: var(--background-color-secondary);
  }

  .faq_card_button_closed {
    background-color: #1e212b;
    color: #fff;
  }
}

header {
  padding: 1em 1em;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  background-color: var(--background-color);
}

header a {
  display: none;
}

.features_link {
  color: var(--text-color);
}

.header_right_content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.sign_in_btn {
  display: none;
}

.switch_bg {
  background-color: var(--switch-bg);
  width: 46px;
  height: 24px;
  margin-left: auto;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  position: relative;
  cursor: pointer;
}

.switch_inner_circle {
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: white;
  left: 3px;
}

.dark_mode_title {
  display: none;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ham_1,
.ham_2,
.ham_3 {
  width: 20px;
  height: 2px;
  background-color: #3e4265;
}

.ham_2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.hero_section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--hero-bg);
}

.hero_content {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-top: 80px;
}

.hero_title_large,
.hero_title_small {
  font-size: 34px;
  font-weight: 900;
  text-align: center;
  line-height: 44.4px;
  padding: 0 1em;
  color: var(--text-color);
}

.hero_title_large {
  display: none;
}

.hero_description {
  color: var(--hero-description-color);
  font-size: 18px;
  padding: 1rem 1rem;
  text-align: center;
  line-height: 28.8px;
  font-weight: 400;
}

.hero_right_content {
  display: none;
}

.cta_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
  align-items: center;
  gap: 16px;
}

.ios_cta,
.android_cta {
  display: flex;
  background-color: var(--cta-bg);
  border: none;
  border-radius: 8px;
  width: 100%;
  max-width: 366px;
  margin: 0 25px;
  height: 50px;
  object-fit: contain;
  background-image: url("assets/appstore-light.svg.png");
  background-repeat: no-repeat;
  background-position: center;
}

.android_cta {
  background-image: url("assets/googleplay-light.svg.png");
}

.discover_more_container {
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 22px;
  padding: 34px 0;
}

.discover_more_circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-color: var(--background-color);
  border: none;
}

.arrow_down_light {
  display: none;
}

.arrow_down_dark {
  display: flex;
}

.discover_more_text {
  color: var(--hero-description-color);
  opacity: 75%;
}

.brands_container {
  height: 0;
  width: 100%;
  background-color: var(--background-color);
}

.features_container {
  display: flex;
  background-color: var(--background-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 44px 10px;
  width: 100%;
}

.features_left_content {
  display: none;
}

.features_title,
.how_does_it_work_title,
.faq_title {
  font-weight: 900;
  font-size: 27px;
  text-align: center;
  line-height: 32px;
  color: var(--text-color);
}

.features_description {
  font-size: 18px;
  text-align: center;
  margin: 23px 0;
  color: var(--description-color);
}

.feature_article {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
  padding: 15px 0;
  gap: 10px;
}

.feature_icon_container {
  min-width: 60px;
  height: 60px;
  background-color: #f3f6ff;
  background-color: var(--background-color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.feature_title_descripion_container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 10px;
}

.feature_title {
  font-size: 20px;
  font-weight: 900;
  color: var(--text-color);
}

.feature_description {
  font-size: 16px;
  color: var(--description-color);
}

.how_does_it_work_container_small {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #f3f6ff; */
  background-color: var(--background-color-secondary);
  align-items: center;
  padding: 60px 15px 50px 15px;
}

.how_does_it_work_container_large {
  display: none;
  background-color: var(--background-color-secondary);
}

.phone_img_container {
  margin: 32px;
  width: 20rem;
  height: 34rem;
  background-position: center;
  background-image: url("assets/how_it_works.png");
  background-repeat: no-repeat;
}

.how_does_it_work_subtitle {
  font-size: 22px;
  line-height: 30px;
  font-weight: 900;
  text-align: center;
  width: 75%;
  color: var(--text-color);
}

.how_does_it_work_description {
  color: #585c7b;
  /* color: var(--text-color); */
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  margin: 0.75rem;
}

.bank_benefits_container {
  display: none;
}

.faq_container_large {
  display: none;
}

.faq_container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.faq_title {
  margin-top: 2rem;
}

.faq_description {
  /* color: var(--text-color); */
  color: #585c7b;
  font-size: 18px;
  text-align: center;
  padding: 1rem 2.5rem 2.5rem 2.5rem;
}

.accordion_container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.faq_card {
  display: flex;
  background-color: var(--background-color);
  flex-direction: column;
  /* border: 1px solid #e2e5f1; */
  padding: 0.85rem 1rem;
  box-shadow: 1px 1px 8px rgb(212, 211, 211);
  border-radius: 8px;
}

.faq_card_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.faq_card_title {
  color: var(--text-color);
  max-width: 80%;
  /* font-weight: 500; */
}

.faq_card_button_open,
.faq_card_button_closed {
  border-radius: 50%;
  width: 2.35rem;
  height: 2.35rem;
  border: none;
  background-color: var(--accent-bg);
  cursor: pointer;
  box-shadow: 1px 1px 8px var(--accent-bg);
  font-size: 1.2rem;
  font-weight: 900;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
}

.faq_card_button_closed {
  background-color: var(--background-color-secondary);
  box-shadow: none;
  transform: none;
  /* transform: rotate(180deg); */
  color: #1e212b;
}

.faq_content_visible {
  visibility: visible;
  max-height: 7.25rem;
  padding-top: 1rem;
  color: var(--text-color);
  opacity: 75%;
}

.faq_content_hidden {
  visibility: hidden;
  opacity: 0;
  max-height: 0rem;
  color: var(--text-color);
  transition: all ease-in 250ms;
}

.faq_contact_container {
  display: none;
}

.faq_contact_us_now_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.contact_us_now_button {
  background-color: #6366f1;
  padding: 1.1rem 0;
  min-width: 45%;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.95rem;

  &:hover {
    opacity: 85%;
  }
}

.contat_us_now_container > p {
  color: white;
  font-weight: 400;
  font-size: 14px;
}

.contact_section_tablet {
  display: none;
}

.subscribe_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-secondary);
  margin: 0 1.5rem;
  border-radius: 8px;
  padding: 1.75rem 1rem;
}

.subscribe_upper_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.4rem;
}

.subscribe_title {
  color: var(--text-color);
  font-weight: 900;
  font-size: 21px;
}

.subscribe_title_large {
  display: none;
}

.subscribe_lower_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  height: 100%;
  margin: 1.45rem 0;
}

.subscription_input {
  /* padding: 1rem 0.25rem; */
  border: 1px solid #d4d7e5;
  margin: 0;
  border-radius: 8px 0 0 8px;
  height: 52px;
  width: 100%;
  padding: 0 0.5rem;
}

form {
  margin: 0;
  padding: 0;
  gap: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.subscribe_button {
  padding: 15px 10px;
  width: 100px;
  background-color: #6366f1;
  border: none;
  border-radius: 0 8px 8px 0;
  color: white;
  margin: 0;
  font-size: 16px;
}

.subscription_success_container {
  display: flex;
  flex-direction: column;
  background-color: var(--accent-bg);
  background-color: var(--background-color);
  align-items: center;
  justify-content: center;
  padding: 1.15rem;
  border-radius: 10px;
  border: 1px solid var(--text-color);
}
.subscription_success_text {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.subscription_success_button {
  background-color: var(--background-color-secondary);
  background-color: var(--accent-bg);
  border: 1px solid var(--accent-bg);
  border: none;
  margin-top: 1.25rem;
  padding: 0.75rem 2rem;
  border-radius: 5px;
  font-weight: 900;
  color: var(--background-color);

  &:hover {
    cursor: pointer;
  }
}

.subscription_error_message {
  align-self: start;
  padding: 0.65rem 0;
  font-size: 0.95rem;
  color: red;
  font-weight: 500;
}

footer {
  background-color: var(--background-color);
  height: 2rem;
  display: grid;
  padding: 5.5rem 0 1.75rem 0;
  place-content: center;
}

footer p {
  color: #9397ad;
  text-align: center;
  margin: 25px 0 30px 0;
}

.clients_container {
  display: none;
}

.subscription_button_error_container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .theme_content_container {
    display: flex;
    flex-direction: row;
    margin: 0 30px;
    gap: 10px;
  }

  .theme_content_container:hover {
    cursor: pointer;
  }

  .dark_mode_title {
    display: block;
    font-weight: bold;
    font-size: 16px;
    color: var(--text-color);
    text-transform: capitalize;
  }

  .hero_title_large {
    display: flex;
    font-size: 44px;
  }

  .hero_title_small {
    display: none;
  }

  .hero_left_content {
    display: flex;
    flex-direction: column;
  }

  .hero_description {
    text-align: start;
    margin: 1.2rem 0rem;
    max-width: 80%;
  }

  .hero_right_content {
    display: flex;
    padding: 0 1rem 0 0;
  }

  .cta_container {
    flex-direction: row;
    flex-grow: 1;
  }

  .ios_cta,
  .android_cta {
    max-width: 200px;
    margin: 0;
    height: 43px;
    background-size: 6rem;
  }

  .discover_more_container {
    justify-content: start;
    gap: 1.2rem;
    padding: 2.25rem 1rem;
  }

  .brands_container {
    height: 10em;
    padding: 1.25em;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    background-color: var(--background-color);
  }

  .brand_container {
    border: 1px solid #e2e5f1;
    flex-grow: 1;
    padding: 0 0em;
    height: 6.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--background-color);
  }

  .brand_1 {
    background-image: url("assets/01-brands.svg.png");
  }
  .brand_2 {
    background-image: url("assets/02-brands.svg\ fill.png");
  }
  .brand_3 {
    background-image: url("assets/03-brands.svg\ fill.png");
  }
  .brand_4 {
    background-image: url("assets/04-brands.svg\ fill.png");
  }
  .brand_5 {
    display: none;
    background-image: url("assets/05_brands.png");
  }
  .brand_6 {
    display: none;
    background-image: url("assets/06_brands.png");
  }

  .features_list_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  .features_description {
    padding: 1em 0em;
    width: 100%;
  }

  .features_title,
  .how_does_it_work_title,
  .faq_title {
    font-size: 33px;
  }

  .phone_img_container {
    background-image: url("assets/how_it_works_2.png");
    width: 100%;
    margin: 0;
  }

  .how_does_it_work_subtitle {
    font-size: 23px;
  }

  .how_does_it_work_description {
    margin: 1rem 6.6rem;
  }

  .faq_title {
    width: 20rem;
    line-height: 2.5rem;
    align-self: center;
  }

  .accordion_list_container {
    border: none;
  }
  .faq_contact_container {
    display: flex;
    margin-top: 2em;
    gap: 0.75rem;
  }

  .faq_contact_card {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 1.35rem 1rem;
    flex-grow: 1;
    gap: 0.85rem;
    border-radius: 8px;
  }

  .contact_card_icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .contact_card_title {
    color: var(--text-color);
    font-size: 0.8rem;
  }

  .contact_card_cta {
    font-size: 0.8rem;
    color: #565973;
  }

  .faq_contact_card:first-child span {
    color: var(--accent-bg);
    cursor: pointer;
    font-weight: 800;
  }
  .faq_contact_card:last-child span {
    color: #22c55e;
    cursor: pointer;
    font-weight: 800;
  }

  .faq_contact_us_now_container {
    display: none;
  }

  .accordion_container {
    display: flex;
    flex-direction: column;
  }

  .accordion_header_container:not(:first-child) {
    border: none;
    margin-top: 1rem;
    box-shadow: 1px 2px 5px lightgray;
    border-radius: 8px;
  }

  .accordion_header_container {
    border: none;
    padding: 20px;
  }

  .accordion_header_hidden {
    display: flex;
  }

  .accordion_content {
    border: none;
  }

  .accordion_container_hidden {
    display: none;
  }

  .accordion_content_hidden {
    display: none;
  }

  .accordion_tablet_3rd {
    display: none;
  }

  .contat_us_now_container {
    display: none;
  }

  .contact_section_tablet {
    display: flex;
    width: 100%;
    padding: 1.25em;
    gap: 2em;
  }

  .contact_card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 0.5px solid #e2e5f1;
    padding: 30px;
    border-radius: 8px;
    gap: 20px;
  }

  .contact_icon {
    width: 1.5em;
    height: 1.5em;
  }

  .contact_cta {
    border: none;
    background-color: transparent;
    text-align: start;
    color: #6366f1;
    font-weight: 700;
  }

  .cta_message {
    color: #22c55e;
  }

  .subscribe_container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
    padding: 2.75rem 2rem;
    gap: 1rem;
  }

  .subscribe_upper_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.45rem;
    justify-content: space-between;
    padding: 0 25px;
  }

  .subscribe_lower_content {
    /* display: flex; */
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px 0;
  }

  .subscription_input {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .header_left_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  header {
    padding: 1em 10em;
  }

  header a {
    display: flex;
    font-size: 0.75rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
  }

  nav {
    display: none;
  }

  .header_right_content {
    align-items: center;
    gap: 0px;
  }

  .sign_in_btn {
    display: flex;
    background-color: #6366f1;
    border: 1px solid transparent;
    padding: 0.35em 2.5em;
    border-radius: 4px;
    font-size: 1rem;
    color: white;
  }

  .sign_in_btn:hover {
    background-color: white;
    color: #6366f1;
    border: 1px solid #6366f1;
  }

  .hero_section {
    padding: 0 10em;
  }

  .hero_title_large {
    display: none;
  }

  .hero_title_small {
    display: flex;
    padding: 0 0em;
    /* max-width: 55%; */
    text-align: start;
  }

  .hero_description {
    padding: 0;
  }

  .cta_container {
    padding: 0;
  }

  .discover_more_container {
    padding-top: 8em;
  }

  .brands_container {
    padding: 3em 10em;
  }
  .brand_container {
    height: 4.5em;
  }
  .brand_5,
  .brand_6 {
    display: flex;
  }

  .features_container {
    display: flex;
    flex-direction: row;
    padding: 2em 10em;
    align-items: self-start;
    gap: 3.5em;
  }

  .features_left_content {
    display: flex;
  }

  .features_title {
    text-align: start;
    font-size: 23px;
  }

  .features_description {
    text-align: start;
    padding: 0;
    font-size: 16px;
  }

  .features_list_container {
    margin-top: 3.5em;
  }

  .feature_title {
    font-size: 18px;
  }

  .feature_description {
    font-size: 14px;
  }

  .feature_icon_container {
    min-width: 45px;
    height: 45px;
  }

  .feature_icon {
    width: 22.5px;
    height: 22.5px;
  }

  .how_does_it_work_container_small {
    display: none;
  }

  .how_does_it_work_container_large {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-secondary);
    justify-content: center;
    align-items: center;
    padding: 60px 15px 50px 15px;
  }

  .phone_img_container_2 {
    margin: 2em;
    width: 100%;
    height: 34em;
    background-image: url("assets/carousel.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .how_does_it_work_description {
    max-width: 50%;
  }

  .bank_benefits_container {
    display: flex;
    flex-direction: column;
    padding: 2em 10em;
    align-items: center;
    justify-content: center;
    gap: 3em;
    background-color: var(--background-color);
  }

  .benefits_upper_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .benefits_left_content,
  .benefits_right_content {
    display: flex;
    flex-direction: column;
    gap: 2.75em;
  }

  .benefits_title {
    font-size: 32px;
    font-weight: 800;
    color: var(--text-color);
  }

  .benefits_ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1em;
  }

  .benefit {
    display: flex;
    gap: 0.75em;
    color: var(--text-color);
  }

  .learn_more_btn {
    background-color: #6366f1;
    color: white;
    border: none;
    padding: 0.75em 1.25em;
    border-radius: 4px;
    width: 40%;
  }

  .learn_more_btn:hover {
    opacity: 70%;
    cursor: pointer;
  }

  .benefits_lower_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .benefits_inter_container {
    display: flex;
    width: 25em;
    gap: 1em;
  }

  .benefit_icon_container {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: #f2f3fe;
    background-color: var(--background-color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
  }

  .bank_benefit {
    color: var(--text-color);
  }

  .clients_container {
    background-color: #f3f6ff;
    background-color: var(--background-color-secondary);
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 5em 9em;
    align-items: start;
    gap: 2em;
  }

  .clients_title {
    font-weight: 800;
    font-size: 33px;
    color: var(--text-color);
  }

  .client_container {
    padding: 2em 1em 1em 1em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 2px 8px lightgray;
    position: relative;
    flex-grow: 1;
    background-color: var(--background-color);
  }

  .clients_left_content {
    min-width: 30%;
  }

  .clients_right_content {
    display: flex;
    gap: 1em;
    margin-left: auto;
  }

  .quotes {
    position: absolute;
    top: -1.25em;
    width: 2.85em;
    height: 2.85em;
    background-color: #6366f1;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quote {
    color: white;
    font-size: 6rem;
    position: absolute;
    margin-top: 0.5em;
  }

  .client_message {
    color: #565973;
    color: var(--description-color);
  }

  .client_info_container {
    display: flex;
    align-items: center;
    padding-top: 1.25em;
    gap: 0.75em;
  }

  .client_name_occupation_container {
    display: flex;
    flex-direction: column;
    gap: 0.15em;
  }

  .name {
    font-weight: 800;
    font-size: 14px;
    color: var(--text-color);
  }

  .occupation {
    font-size: 12px;
    color: var(--description-color);
  }

  .faq_container {
    display: none;
  }

  .faq_container_large {
    display: flex;
    padding: 2.5rem 8rem;
    align-items: start;
    gap: 1rem;
    background-color: var(--background-color);
  }

  .faq_left_container {
    display: flex;
    flex-direction: column;
    min-width: 40%;
    align-items: flex-start;
  }

  .faq_contact_container {
    gap: 2rem;
  }

  .faq_right_container {
    display: flex;
    flex-direction: column;
    /* width: 55%; */
  }

  .faq_title {
    text-align: start;
    width: auto;
    padding: 0;
    margin: 0;
    align-self: self-start;
  }

  .faq_description {
    text-align: start;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1.25rem;
    width: 90%;
  }

  .faq_content_large {
    padding: 1em;
  }

  .first_faq_large {
    border: none;
    margin-top: 1rem;
    box-shadow: 1px 2px 5px lightgray;
    border-radius: 8px;
  }

  .contact_section_tablet {
    display: none;
  }

  .contact_section_large {
    display: flex;
    gap: 1em;
  }

  .contact_card {
    padding: 1.25em 1em;
  }

  .contact_p {
    font-size: 12px;
  }

  .subscribe_container {
    margin: 0em 8em;
    flex-direction: row;
  }

  .subscribe_title {
    display: none;
  }

  .subscribe_title_large {
    display: flex;
    color: var(--text-color);
    font-weight: 900;
    font-size: 19px;
    padding: 2em;
  }

  .faq_left_content {
    width: 100%;
  }
}
