* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope";
  transition: all ease-in-out 500ms;
}

header {
  padding: 1em 1em;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

header a {
  display: none;
}

.header_right_content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.sign_in_btn {
  display: none;
}

.switch_bg {
  background-color: #9397ad;
  width: 46px;
  height: 24px;
  margin-left: auto;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
}

.switch_inner_circle {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: white;
  margin: 0 2.5px;
}

.dark_mode_title {
  display: none;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ham_1,
.ham_2,
.ham_3 {
  width: 20px;
  height: 2px;
  background-color: #3e4265;
}

.ham_2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.hero_section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(243, 240, 254, 1) 50%,
    rgba(252, 245, 254, 1) 100%
  );
}

.hero_content {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-top: 80px;
}

.hero_title_large,
.hero_title_small {
  font-size: 34px;
  font-weight: 900;
  text-align: center;
  line-height: 44.4px;
  padding: 0 1em;
}

.hero_title_large {
  display: none;
}

.hero_description {
  color: #585c7b;
  font-size: 18px;
  padding: 1rem 1rem;
  text-align: center;
  line-height: 28.8px;
  font-weight: 400;
}

.hero_right_content {
  display: none;
}

.cta_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
  align-items: center;
  gap: 16px;
}

.ios_cta,
.android_cta {
  display: flex;
  background-color: #131022;
  border: none;
  border-radius: 8px;
  width: 100%;
  max-width: 366px;
  margin: 0 25px;
  height: 50px;
  object-fit: contain;
  background-image: url("assets/appstore-light.svg.png");
  background-repeat: no-repeat;
  background-position: center;
}

.android_cta {
  background-image: url("assets/googleplay-light.svg.png");
}

.discover_more_container {
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 22px;
  padding: 34px 0;
}

.discover_more_circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
}

.discover_more_text {
  color: #585c7b;
}

.brands_container {
  height: 0;
  width: 100%;
}

.features_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 44px 10px;
  width: 100%;
}

.features_left_content {
  display: none;
}

.features_title,
.how_does_it_work_title,
.faq_title {
  font-weight: 900;
  font-size: 27px;
  text-align: center;
  line-height: 32px;
}

.features_description {
  font-size: 18px;
  text-align: center;
  margin: 23px 0;
  color: #585c7b;
}

.feature_article {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
  padding: 15px 0;
  gap: 10px;
}

.feature_icon_container {
  min-width: 60px;
  height: 60px;
  background-color: #f3f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.feature_title_descripion_container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 10px;
}

.feature_title {
  font-size: 20px;
  font-weight: 900;
}

.feature_description {
  font-size: 16px;
  color: #585c7b;
}

.how_does_it_work_container_small {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f3f6ff;
  align-items: center;
  padding: 60px 15px 50px 15px;
}

.how_does_it_work_container_large {
  display: none;
}

.phone_img_container {
  margin: 32px;
  width: 20rem;
  height: 34rem;
  background-position: center;
  background-image: url("assets/how_it_works.png");
  background-repeat: no-repeat;
}

.how_does_it_work_subtitle {
  font-size: 22px;
  line-height: 30px;
  font-weight: 900;
  text-align: center;
  width: 75%;
}

.how_does_it_work_description {
  color: #585c7b;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  margin: 7px;
}

.bank_benefits_container {
  display: none;
}

.faq_container_large {
  display: none;
}

.faq_container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.faq_title {
  margin-top: 43px;
}
.faq_description {
  color: #585c7b;
  font-size: 18px;
  text-align: center;
  padding: 19px 0 54px 0;
}

.accordion_list_container {
  border: 1px solid #e2e5f1;
  border-radius: 10px;
  padding: 5px 0;
}
.accordion_header_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e5f1;
  padding: 12px 15px;
}
.accordion_header_container:last-child {
  border: none;
}

.accordion_header_hidden {
  display: none;
}

.accordion_container_hidden {
  display: block;
}

.accordion_title {
  font-size: 16px;
  font-weight: 600;
  flex-grow: 1;
  max-width: 85%;
  margin-right: 10px;
}

.accordion_circle {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.accordion_circle_open {
  background-color: #6366f1;
}

.accordion_circle_closed {
  background-color: #f3f6ff;
}

.accordion_content {
  padding: 15px 15px;
  border-bottom: 1px solid #e2e5f1;
}

.accordion_content > p {
  color: #585c7b;
}

.contat_us_now_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6366f1;
  padding: 12px 20px;
  width: 45%;
  margin: 40px auto 40px auto;
  border-radius: 6px;
}

.contat_us_now_container > p {
  color: white;
  font-weight: 400;
  font-size: 14px;
}

.contact_section_tablet {
  display: none;
}

.subscribe_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f6ff;
  margin: 0 15px;
  border-radius: 8px;
  padding: 20px 20px;
}

.subscribe_upper_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.subscribe_title {
  color: #131022;
  font-weight: 900;
  font-size: 21px;
}

.subscribe_title_large {
  display: none;
}

.subscribe_lower_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

input {
  padding: 15px 5px;
  border: 1px solid #d4d7e5;
  margin: 0;
  border-radius: 8px 0 0 8px;
  height: 52px;
  width: 200px;
}

form {
  margin: 0;
  padding: 0;
  gap: 0;
  display: flex;
  flex-direction: row;
}

.subscribe_lower_content button {
  padding: 15px 10px;
  width: 100px;
  background-color: #6366f1;
  border: none;
  border-radius: 0 8px 8px 0;
  color: white;
  margin: 0;
  font-size: 16px;
}

footer p {
  color: #9397ad;
  text-align: center;
  margin: 25px 0 30px 0;
}

.clients_container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .theme_content_container {
    display: flex;
    flex-direction: row;
    margin: 0 30px;
    gap: 10px;
  }

  .dark_mode_title {
    display: block;
    font-weight: bold;
    font-size: 16px;
  }

  .hero_title_large {
    display: flex;
    font-size: 44px;
  }

  .hero_title_small {
    display: none;
  }

  .hero_left_content {
    display: flex;
    flex-direction: column;
  }

  .hero_description {
    text-align: start;
    margin: 1.2rem 0rem;
    max-width: 80%;
  }

  .hero_right_content {
    display: flex;
    padding: 0 1rem 0 0;
  }

  .cta_container {
    flex-direction: row;
    flex-grow: 1;
  }

  .ios_cta,
  .android_cta {
    max-width: 200px;
    margin: 0;
    height: 43px;
    background-size: 6rem;
  }

  .discover_more_container {
    justify-content: start;
    gap: 1.2rem;
    padding: 2.25rem 1rem;
  }

  .brands_container {
    height: 10em;
    padding: 1.25em;
    display: flex;
    gap: 1em;
    justify-content: space-between;
  }

  .brand_container {
    border: 1px solid #e2e5f1;
    flex-grow: 1;
    padding: 0 0em;
    height: 6.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .brand_1 {
    background-image: url("assets/01-brands.svg.png");
  }
  .brand_2 {
    background-image: url("assets/02-brands.svg\ fill.png");
  }
  .brand_3 {
    background-image: url("assets/03-brands.svg\ fill.png");
  }
  .brand_4 {
    background-image: url("assets/04-brands.svg\ fill.png");
  }
  .brand_5 {
    display: none;
    background-image: url("assets/05_brands.png");
  }
  .brand_6 {
    display: none;
    background-image: url("assets/06_brands.png");
  }

  .features_list_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  .features_description {
    padding: 1em 0em;
    width: 100%;
  }

  .features_title,
  .how_does_it_work_title,
  .faq_title {
    font-size: 33px;
  }

  .phone_img_container {
    background-image: url("assets/how_it_works_2.png");
    width: 100%;
    margin: 0;
  }

  .how_does_it_work_subtitle {
    font-size: 23px;
  }

  .how_does_it_work_description {
    margin: 1rem 6.6rem;
  }

  .faq_title {
    width: 20rem;
    line-height: 2.5rem;
    align-self: center;
  }

  .accordion_list_container {
    border: none;
  }

  .accordion_container {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px lightgray;
    border-radius: 8px;
    border: none;
  }

  .accordion_header_container:not(:first-child) {
    border: none;
    margin-top: 1rem;
    box-shadow: 1px 2px 5px lightgray;
    border-radius: 8px;
  }

  .accordion_header_container {
    border: none;
    padding: 20px;
  }

  .accordion_header_hidden {
    display: flex;
  }

  .accordion_content {
    border: none;
  }

  .accordion_container_hidden {
    display: none;
  }

  .accordion_content_hidden {
    display: none;
  }

  .accordion_tablet_3rd {
    display: none;
  }

  .contat_us_now_container {
    display: none;
  }

  .contact_section_tablet {
    display: flex;
    width: 100%;
    padding: 1.25em;
    gap: 2em;
  }

  .contact_card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 0.5px solid #e2e5f1;
    padding: 30px;
    border-radius: 8px;
    gap: 20px;
  }

  .contact_icon {
    width: 1.5em;
    height: 1.5em;
  }

  .contact_cta {
    border: none;
    background-color: transparent;
    text-align: start;
    color: #6366f1;
    font-weight: 700;
  }

  .cta_message {
    color: #22c55e;
  }

  .subscribe_container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    padding: 40px 25px;
  }

  .subscribe_upper_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 0 25px;
  }

  .subscribe_lower_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: auto;
    margin: 0px 0;
  }

  input {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .header_left_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  header {
    padding: 1em 10em;
  }

  header a {
    display: flex;
    font-size: 0.75rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
  }

  nav {
    display: none;
  }

  .header_right_content {
    align-items: center;
    gap: 0px;
  }

  .sign_in_btn {
    display: flex;
    background-color: #6366f1;
    border: 1px solid transparent;
    padding: 0.35em 2.5em;
    border-radius: 4px;
    font-size: 1rem;
    color: white;
  }

  .sign_in_btn:hover {
    background-color: white;
    color: #6366f1;
    border: 1px solid #6366f1;
  }

  .hero_section {
    padding: 0 10em;
  }

  .hero_title_large {
    display: none;
  }

  .hero_title_small {
    display: flex;
    padding: 0 0em;
    /* max-width: 55%; */
    text-align: start;
  }

  .hero_description {
    padding: 0;
  }

  .cta_container {
    padding: 0;
  }

  .discover_more_container {
    padding-top: 8em;
  }

  .brands_container {
    padding: 3em 10em;
  }
  .brand_container {
    height: 4.5em;
  }
  .brand_5,
  .brand_6 {
    display: flex;
  }

  .features_container {
    display: flex;
    flex-direction: row;
    padding: 2em 10em;
    align-items: self-start;
    gap: 3.5em;
  }

  .features_left_content {
    display: flex;
  }

  .features_title {
    text-align: start;
    font-size: 23px;
  }

  .features_description {
    text-align: start;
    padding: 0;
    font-size: 16px;
  }

  .features_list_container {
    margin-top: 3.5em;
  }

  .feature_title {
    font-size: 18px;
  }

  .feature_description {
    font-size: 14px;
  }

  .feature_icon_container {
    min-width: 45px;
    height: 45px;
  }

  .feature_icon {
    width: 22.5px;
    height: 22.5px;
  }

  .how_does_it_work_container_small {
    display: none;
  }

  .how_does_it_work_container_large {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f3f6ff;
    justify-content: center;
    align-items: center;
    padding: 60px 15px 50px 15px;
  }

  .phone_img_container_2 {
    margin: 2em;
    width: 100%;
    height: 34em;
    background-image: url("assets/carousel.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .how_does_it_work_description {
    max-width: 50%;
  }

  .bank_benefits_container {
    display: flex;
    flex-direction: column;
    padding: 2em 10em;
    align-items: center;
    justify-content: center;
    gap: 3em;
  }

  .benefits_upper_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .benefits_left_content,
  .benefits_right_content {
    display: flex;
    flex-direction: column;
    gap: 2.75em;
  }

  .benefits_title {
    font-size: 32px;
    font-weight: 800;
  }

  .benefits_ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1em;
  }

  .benefit {
    display: flex;
    gap: 0.75em;
  }

  .learn_more_btn {
    background-color: #6366f1;
    color: white;
    border: none;
    padding: 0.75em 1.25em;
    border-radius: 4px;
    width: 40%;
  }

  .benefits_lower_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .benefits_inter_container {
    display: flex;
    width: 25em;
    gap: 1em;
  }

  .benefit_icon_container {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: #f2f3fe;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
  }

  .clients_container {
    background-color: #f3f6ff;
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 5em 9em;
    align-items: start;
    gap: 2em;
  }

  .clients_title {
    font-weight: 800;
    font-size: 33px;
  }

  .client_container {
    padding: 2em 1em 1em 1em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 2px 8px lightgray;
    position: relative;
    flex-grow: 1;
  }

  .clients_left_content {
    min-width: 30%;
  }

  .clients_right_content {
    display: flex;
    gap: 1em;
    margin-left: auto;
  }

  .quotes {
    position: absolute;
    top: -1.25em;
    width: 2.85em;
    height: 2.85em;
    background-color: #6366f1;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quote {
    color: white;
    font-size: 6rem;
    position: absolute;
    margin-top: 0.5em;
  }

  .client_message {
    color: #565973;
  }

  .client_info_container {
    display: flex;
    align-items: center;
    padding-top: 1.25em;
    gap: 0.75em;
  }

  .client_name_occupation_container {
    display: flex;
    flex-direction: column;
    gap: 0.15em;
  }

  .name {
    font-weight: 800;
    font-size: 14px;
  }

  .occupation {
    font-size: 12px;
    color: #9397ad;
  }

  .faq_container {
    display: none;
  }

  .faq_container_large {
    display: flex;
    padding: 1em 8em;
    align-items: start;
    justify-content: center;
    gap: 2.5em;
  }

  .faq_title {
    text-align: start;
  }

  .faq_description {
    text-align: start;
  }

  .faq_content_large {
    padding: 1em;
  }

  .first_faq_large {
    border: none;
    margin-top: 1rem;
    box-shadow: 1px 2px 5px lightgray;
    border-radius: 8px;
  }

  .contact_section_tablet {
    display: none;
  }

  .contact_section_large {
    display: flex;
    gap: 1em;
  }

  .contact_card {
    padding: 1.25em 1em;
  }

  .contact_p {
    font-size: 12px;
  }

  .subscribe_container {
    margin: 2em 8em;
    flex-direction: row;
  }

  .subscribe_title {
    display: none;
  }

  .subscribe_title_large {
    display: flex;
    color: #131022;
    font-weight: 900;
    font-size: 19px;
    padding: 2em;
  }

  .faq_left_content {
    width: 100%;
  }
}
