* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope";
  transition: all ease-in-out 500ms;
}

header {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header_right_content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.switch_bg {
  background-color: #9397ad;
  width: 46px;
  height: 24px;
  margin-left: auto;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
}

.switch_inner_circle {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: white;
  margin: 0 2.5px;
}

.dark_mode_title {
  display: none;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ham_1,
.ham_2,
.ham_3 {
  width: 20px;
  height: 2px;
  background-color: #3e4265;
}

.ham_2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.hero_section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(243, 240, 254, 1) 50%,
    rgba(252, 245, 254, 1) 100%
  );
}

.hero_content {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  align-items: end;
  margin-top: 80px;
}

h1 {
  font-size: 34px;
  font-weight: 900;
  text-align: center;
  line-height: 44.4px;
  padding: 0 2rem;
}

.hero_description {
  color: #585c7b;
  font-size: 18px;
  padding: 1rem 1rem;
  text-align: center;
  line-height: 28.8px;
  font-weight: 400;
}

.hero_right_content {
  display: none;
}

.cta_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
  align-items: center;
  gap: 16px;
}

.ios_cta,
.android_cta {
  display: flex;
  background-color: #131022;
  border: none;
  border-radius: 8px;
  width: 100%;
  max-width: 366px;
  /* width: 366px; */
  margin: 0 25px;
  height: 50px;
  object-fit: contain;
  background-image: url("assets/appstore-light.svg.png");
  background-repeat: no-repeat;
  background-position: center;
}

.android_cta {
  background-image: url("assets/googleplay-light.svg.png");
}

.discover_more_container {
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 22px;
  padding: 34px 0;
}

.discover_more_circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
}

.discover_more_text {
  color: #585c7b;
}

.brands_container {
  height: 0;
  width: 100%;
}

.features_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 44px 10px;
  width: 100%;
}

.features_title,
.how_does_it_work_title,
.faq_title {
  font-weight: 900;
  font-size: 27px;
  text-align: center;
  line-height: 32px;
}

.features_description {
  font-size: 18px;
  text-align: center;
  margin: 23px 0;
  color: #585c7b;
}

.feature_article {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
  padding: 15px 0;
  gap: 10px;
}

.feature_icon_container {
  min-width: 60px;
  height: 60px;
  background-color: #f3f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.feature_title_descripion_container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 10px;
}

.feature_title {
  font-size: 20px;
  font-weight: 900;
}

.feature_description {
  font-size: 16px;
  color: #585c7b;
}

.how_does_it_work_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f3f6ff;
  align-items: center;
  padding: 60px 15px 50px 15px;
}

.phone_img_container {
  margin: 32px;
  width: 20rem;
  height: 34rem;
  background-position: center;
  background-image: url("assets/how_it_works.png");
  background-repeat: no-repeat;
}

.how_does_it_work_subtitle {
  font-size: 22px;
  line-height: 30px;
  font-weight: 900;
  text-align: center;
  width: 75%;
}

.how_does_it_work_description {
  color: #585c7b;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  margin: 7px;
}

.faq_container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.faq_title {
  margin-top: 43px;
}
.faq_description {
  color: #585c7b;
  font-size: 18px;
  text-align: center;
  padding: 19px 0 54px 0;
}

.accordion_container {
  border: 1px solid #e2e5f1;
  border-radius: 10px;
  padding: 5px 0;
}
.accordion_header_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e5f1;
  padding: 12px 15px;
}
.accordion_header_container:last-child {
  border: none;
}

.accordion_title {
  font-size: 16px;
  font-weight: 600;
  flex-grow: 1;
  max-width: 85%;
  margin-right: 10px;
}

.accordion_circle_open,
.accordion_circle_closed {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6366f1;
  border-radius: 50%;
}

.accordion_circle_closed {
  background-color: #f3f6ff;
}

.accordion_content {
  padding: 15px 15px;
  border-bottom: 1px solid #e2e5f1;
}

.accordion_content > p {
  color: #585c7b;
}

.contat_us_now_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6366f1;
  padding: 12px 20px;
  width: 45%;
  margin: 40px auto 40px auto;
  border-radius: 6px;
}

.contat_us_now_container > p {
  color: white;
  font-weight: 400;
  font-size: 14px;
}

.subscrice_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f6ff;
  margin: 0 15px;
  border-radius: 8px;
  padding: 20px 20px;
}

.subscribe_upper_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.subscribe_title {
  color: #131022;
  font-weight: 900;
  font-size: 21px;
}

.subscribe_lower_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

input {
  padding: 15px 5px;
  border: 1px solid #d4d7e5;
  margin: 0;
  border-radius: 8px 0 0 8px;
  height: 52px;
  width: 200px;
}

form {
  margin: 0;
  padding: 0;
  gap: 0;
  display: flex;
  flex-direction: row;
}

.subscribe_lower_content button {
  padding: 15px 10px;
  width: 100px;
  background-color: #6366f1;
  border: none;
  border-radius: 0 8px 8px 0;
  color: white;
  margin: 0;
  font-size: 16px;
}

footer p {
  color: #9397ad;
  text-align: center;
  margin: 25px 0 30px 0;
}

@media only screen and (min-width: 768px) {
  .theme_content_container {
    display: flex;
    flex-direction: row;
    margin: 0 30px;
    gap: 10px;
  }

  .dark_mode_title {
    display: block;
    font-weight: bold;
    font-size: 16px;
  }

  h1 {
    width: 60%;
    font-size: 44px;
  }

  .hero_left_content {
    /* align-items: start; */
    /* justify-content: start; */
    display: flex;
    flex-direction: column;
  }

  .hero_description {
    text-align: start;
    margin: 1.2rem 0rem;
  }

  .hero_right_content {
    display: flex;
    padding: 0 1rem 0 0;
    /* border: 1px solid red; */
  }

  .cta_container {
    flex-direction: row;
    flex-grow: 1;
  }

  .ios_cta,
  .android_cta {
    max-width: 200px;
    margin: 0;
    height: 43px;
    background-size: 6rem;
  }

  .discover_more_container {
    justify-content: start;
    gap: 1.2rem;
    padding: 2.25rem 1rem;
  }

  .brands_container {
    height: 8rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    background-image: url("assets/Brands.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  .features_list_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  .features_description {
    padding: 1rem 1.3rem;
  }

  .features_title,
  .how_does_it_work_title,
  .faq_title {
    font-size: 33px;
  }

  .phone_img_container {
    background-image: url("assets/how_it_works_2.png");
    width: 100%;
    margin: 0;
  }

  .how_does_it_work_subtitle {
    font-size: 23px;
  }

  .how_does_it_work_description {
    margin: 1rem 6.6rem;
    /* align-self: center; */
  }
}
